{% extends "basewhite.html" %}
{% block content %}
{% load static %}

        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container d-flex align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/home">Home</a></li>
                        <li class="breadcrumb-item"><a href="/productpage">Products</a></li>
                    </ol>
                </div>
            </nav><!-- End .breadcrumb-nav -->

            <div class="container">
	        	<div class="page-header page-header-big text-center" style="background-image: url('{% static 'assets/images/banners/home/intro/banner-1.jpg' %}')">
        			<h1 class="page-title text-white" >About Us</h1>
	        	</div><!-- End .page-header -->
            </div><!-- End .container -->

            
                <div class="container">
                <div class="bg-light-2 pt-6 pb-5 mb-6 mb-lg-8">
                
                        
                
                        <div style="text-align: justify; margin-top: -50px; margin-bottom: 10px; text-indent: 30px;">
                        
                        <p>Established in 2017 with the vision of a young entrepreneur who wanted to change the way people perceived mobile covers. Initially people used mobile covers only for protection as there were not much designs and customisations available. But now people can protect their mobile phones in style and with the design of their choice.</p>
                        </div>
                        
                        <div style="text-align: justify; margin-bottom: 10px; text-indent: 30px; ">
                        
                        <p>What initially started as a small Mobile Covers outlet in Dombivli has now expanded to include various other things such as T-shirts, mugs, etc. The original idea was to give our Mobiles a new look with unique, customisable and attractive covers. Our Founder is a Desi at heart and hence the name Desi Covers was decided.</p>
                        </div>
                        
                        <div style="text-align: justify; margin-bottom: 10px; text-indent: 30px;">
                        
                        <p>Over time Desi Covers has expanded to include various other items but that didn't let us change our name because people had already started associating us with Desi Covers. Desi Covers had already become a brand. We have been catering our services all over Mumbai and Thane district since 2 years and now want to widen our horizons to not only the other regions of our country but also to the world.</p>
                        </div>
                        
                        <div style="text-align: justify; margin-bottom: 10px; text-indent: 30px;">
                        
                        <p>We are a homegrown brand with our own manufacturing setup and hence no middlemen which makes the prices of our products reasonable.</p>
                        </div>
                         
                        <div style="text-align: justify; margin-bottom: 10px;">
                        
                        <p>From a small shop Desi Covers has created its own brand catering to customers with the motto 'Customer is King'. Don't believe us? Go read our Customer Stories.</p>
                        </div>    

                    
                    </div>
                </div><!-- End .bg-light-2 pt-5 pb-6 -->
            </div>
        </div>
            </div><!-- End .page-content -->
        </main><!-- End .main -->

       {% endblock content %}