{% extends "basewhite.html" %}
{% block content %}
{% load static %}

        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container d-flex align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/home">Home</a></li>
                        <li class="breadcrumb-item"><a href="/productpage">Products</a></li>
                    </ol>
                </div>
            </nav><!-- End .breadcrumb-nav -->

            <div class="container">
	        	<div class="page-header page-header-big text-center" style="background-image: url('{% static 'assets/images/banners/home/intro/banner-1.jpg' %}')">
        			<h1 class="page-title text-white" >FAQ</h1>
	        	</div><!-- End .page-header -->
            </div><!-- End .container -->

            
                <div class="container">
                <div class="bg-light-2 pt-6 pb-5 mb-6 mb-lg-8">
                
                        
                
                        <div style="margin-bottom: 40px; margin-top: -50px; text-align: center;">
                        <h2 class="title text-center mb-3">How do I check the current status of my order ?</h2><!-- End .title text-center -->
                        <p>Normally, it may take 2-3 working days for your order to get dispatched from our warehouse. As soon as the order gets dispatched from our warehouse, you will receive a confirmation message including the courier tracking information.</p>
                        </div>
                        
                        <div style="margin-bottom: 40px; text-align: center;">
                        <h2 class="title text-center mb-3">What is the estimated delivery time ?</h2><!-- End .title text-center -->
                        <p>After your order gets dispatched from our warehouse, it will take around 2-4 days to reach you. You can always keep a track of your order by the courier tracking details provided to you.</p>
                        </div>
                        
                        <div style="margin-bottom: 40px; text-align: center;">
                        <h2 class="title text-center mb-3">I have changed my mind. How do I return an item from my order ?</h2><!-- End .title text-center -->
                        <p>Please be aware that, all items which are Printed on order basis (Phone Cases, T-Shirts, popsockets, Etc) will not be eligible for a return in any circumstances. Any other products which are unused and you wish to return, please mail us your request at……..</p>
                        </div>
                        
                        <div style="margin-bottom: 40px; text-align: center;">
                        <h2 class="title text-center mb-3">I received a damaged / wrong item. What now ?</h2><!-- End .title text-center -->
                        <p>We regret the inconvenience caused to you. Any damaged or wrong items received by you will be replaced from our side free of cost. Just drop us a mail at help@..... with appropriate images / video of the damaged / wrong item.</p>
                        </div>
                         
                        <div style="margin-bottom: 40px; text-align: center;">
                        <h2 class="title text-center mb-3">What are the payment methods accepted ?</h2><!-- End .title text-center -->
                        <p>We accept all Net Banking, Debit & Credit Cards, UPI, Mobile Wallets & PayTM.</p>
                        </div>    
                        <div style="margin-bottom: 40px; text-align: center;">
                        <h2 class="title text-center mb-3">How to avail offers & discounts?</h2><!-- End .title text-center -->
                        <p>All the details of offers & discounts are mentioned on the Offers Zone page. Please visit the page for all the details. To avail any offer or discount, please do not forget to enter the Discount Code before placing your order and making the payments.</p>
                        </div>                                

                    
                    </div>
                </div><!-- End .bg-light-2 pt-5 pb-6 -->
            </div>
        </div>
            </div><!-- End .page-content -->
        </main><!-- End .main -->

       {% endblock content %}