<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>PAYTM PAYMENT PAGE</title>
    <script type="text/javascript" src="https://checkout.razorpay.com/v1/razorpay.js"></script>
</head>
<body>
<h1> REDIRECTING TO MERCHANT</h1>
<h1> PLEASE DO NOT REFRESH THE PAGE.............</h1>
<body>
    <form action="/razorpay" method="POST">

        <script
            src="https://checkout.razorpay.com/v1/checkout.js"
            data-key="rzp_live_NEyfqys7rO0Qdr"
            data-amount=""
            data-name="Desicovers"
            data-description="Purchase Description"
            data-image="vk.jpg"
            data-netbanking="true"
            data-description="Tron Legacy"
            data-prefill.name=""
            data-prefill.email= ""
            data-prefill.contact=""
            data-notes.shopping_order_id="">
        </script>
        <input type="hidden" name="shopping_order_id" value="">
        <input type="hidden" name="amount" value="">
    </form>
</body>
</html>