 <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container d-flex align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/home">Home</a></li>
                        <li class="breadcrumb-item"><a href="/productpage">Products</a></li>
                    </ol>
                </div>
            </nav><!-- End .breadcrumb-nav -->

            <div class="container">
	        	<div class="page-header page-header-big text-center" style="background-image: url('')">
        			<h1 class="page-title text-white" >Returns & Exchange Policy</h1>
	        	</div><!-- End .page-header -->
            </div><!-- End .container -->

            
                <div class="container">
                <div class="bg-light-2 pt-6 pb-5 mb-6 mb-lg-8">
                
                        
                
                        <div style="margin-bottom: 40px; margin-top: -50px; text-align: justify; text-indent: 30px;">
                        <h2 class="title text-center mb-3">Exchanges</h2><!-- End .title text-center -->
                        <p>We really like our products and take a lot of pride in them. But we’re not perfect, we make mistakes too, we are only human. In case we’ve sent you the wrong item, drop us an email or contact us with a photograph (short video if needed) of the item and we’ll make it right!</p>
                        <p>In case there is a manufacturing defect, drop us an email or contact us with the photograph (short video if needed) of the defected item within 48 hours after you receive it, we will be happy to replace your item! (Replacements are subject to stock availability). Please note, all the exchanges will be done for the same item that you have purchased, subject to approval. We may take 3 – 5 working days to process your exchange request. Request you to please be patient.</p>    
                        </div>
                        
                        <div style="margin-bottom: 40px; text-align: justify; text-indent: 30px;">
                        <h2 class="title text-center mb-3">Returns</h2><!-- End .title text-center -->
                        <p>On the off chance you don’t like our item at all and just want a refund, we’ll organize that too. But, that is purely subject to approval from our management team. But please be fast, returns are possible within 48-hours of item receipt. If the item is bought under clearance, sale, discounted price or using promotion coupon only exchanges/refunds in DESICOVERS Wallet (within 48 hours of product receipt) will be possible against manufacturing defects.</p>
                        <p>
                            All refunds for orders will be done only in your DESICOVERS Wallet. The credits in your DESICOVERS wallet can be used to purchase any item from our store. Please Note: Shipping Charges / CASH ON DELHIVERY Charges won’t be refunded.
                        </p>
                        <p>For products without manufacturing defect/fault from our end, we are NOT entitled to bear the return shipping charges. However, with a charge of Rs.100, reverse pickups can be arranged in case of Dislikes, Wrong phone model ordered, the wrong product ordered, or any such issues where we are not at fault.
                        </p>
                        </div>
                        
                        <div style="margin-bottom: 40px; text-align: justify; text-indent: 30px;">
                        <h2 class="title text-center mb-3">Cancellations</h2><!-- End .title text-center -->
                        <p>We understand that you can be impulsive and might want to cancel an order once you realize it’s the end of the month and you have no money to spend (as long as you come back to us once you do). You can cancel it within 4 hours of placing it. After that, it might be a tad bit difficult for us and we might not able to cancel your order and provide a full refund, so think fast!</p>
                        </div>
                
                    </div>
                </div><!-- End .bg-light-2 pt-5 pb-6 -->
            </div>
        </div>
            </div><!-- End .page-content -->
        </main><!-- End .main -->
